<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index라네</title>
</head>
<body>
    <div style="text-align: center;">
        {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <a href="{% url 'logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'signup' %}">SIGNUP</a>
            <a href="{% url 'login' %}">LOGIN</a>
        {% endif %}
    </div>
</body>
</html>
