input {
    border : 1px solid #C8B79E;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

input:focus {
    outline : 1px solid #C8B79E;
}

textarea {
    border : 1px solid #C8B79E;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

textarea:focus {
    outline : 1px solid #C8B79E;
}


.aboutme-intro input {
    width: 760px;
}

.projects-list {
    margin-top: 10px;
    border : 1px solid #C8B79E;
}

.profile input {
    width: 460px;
}

.project {
    margin : 20px;
    font-size: 30px;
}

.project label {
    display: inline-block;
    width: 200px;
}

.project input, .project textarea {
    text-align: left;
    display: inline-block;
    width: 500px;
}
