<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <title>Wish</title>
</head>

<body>
  {% extends "base.html" %}
  {% block content %}
  {% if user.is_authenticated %}
    <div>
      {% if profile %}
      <div class="aboutme-box">
        <div class="aboutme-title">
          <p>ABOUT ME</p>
        </div>
        <div class="aboutme-img">
          <img src="../{{user.profile.image}}" />
        </div>
        <div class="aboutme-intro">
          " {{user.profile.intro}} "
        </div>
        <div class="aboutme-profile">
          <div class="profile">
            <label>NAME</label>
            <span>{{user.profile.name}}</span>
          </div>
          <div class="profile">
            <label>TEL</label>
            <span>{{user.profile.tel}}</span>
          </div>
          <div class="profile">
            <label>EMAIL</label>
            <span>{{user.profile.email}}</span>
          </div>
          <div class="profile">
            <label>BIRTH</label>
            <span>{{user.profile.birth}}</span>
          </div>
          <div class="profile">
            <label>TECH</label>
            <span>{{user.profile.tech}}</span>
          </div>
          <div class="profile">
            <label>CAREER</label>
            <span>{{user.profile.career}}</span>
          </div>
          <div class="profile">
            <label>KAKAO ID</label>
            <span>{{user.profile.kakaoId}}</span>
          </div>
          <div class="profile">
            <label>GITHUB</label>
            <span>{{user.profile.github_url}}</span>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="projects-box">
        <div class="projects-box-title">
          <p>PROJECTS</p>
        </div>
        {% for projects in projects %}
        <div class="projects-list">
          <div class="project">
            <div class="project-title">
              {{projects.project_title}}
            </div>
            <div class="project-img">
              <img src="../{{projects.project_img}}" />
            </div>
            <div class="project-url">
              <a>{{projects.project_url}}</a>
            </div>
            <div class="project-description">
              {{projects.project_des}} <br/>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div>
      <div>
        <div>로그인 후 이용해 주세요. </div>
        <span><a href="{% url 'login' %}">LOGIN</a></span>
      </div>
    </div>
  {% endif %}
  {% endblock content %}
</body>

</html>