<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <title>Wish</title>
</head>

<body>
  <header>
    <div class="nav-title">
      <span>Wish <br /> My Portfolio</span>
    </div>
    <div class="nav-menu">
      <span>ABOUT ME</span>
      <span>PROJECTS</span>
      <span>EDIT</span>
    </div>
  </header>
  <div>
    <div class="aboutme-box">
      <div class="aboutme-title">
        <p>ABOUT ME</p>
      </div>
      <div class="aboutme-img">
        <img src="/static/img/profile_img.jpeg" />
      </div>
      <div class="aboutme-intro">
        " 안녕하세요. 주니어 웹 개발자 정소원 입니다. "
      </div>
      <div class="aboutme-profile">
        <div class="profile">
          <label>NAME</label>
          <span>정소원</span>
        </div>
        <div class="profile">
          <label>TEL</label>
          <span>010-8520-1180</span>
        </div>
        <div class="profile">
          <label>EMAIL</label>
          <span>soso2266@kookmin.ac.kr</span>
        </div>
        <div class="profile">
          <label>BIRTH</label>
          <span>1999.11.23</span>
        </div>
        <div class="profile">
          <label>TECH</label>
          <span>FrontEnd - React.js</span>
        </div>
        <div class="profile">
          <label>CAREER</label>
          <span>Filled Bottle (2019.09 ~)</span>
        </div>
        <div class="profile">
          <label>KAKAO ID</label>
          <span>sowon23</span>
        </div>
        <div class="profile">
          <label>GITHUB</label>
          <span>https://github.com/sowish23</span>
        </div>
      </div>
    </div>
    <div class="projects-box">
      <div class="projects-box-title">
        <p>PROJECTS</p>
      </div>
      <div class="projects-list">
        <div class="project">
          <div class="project-title">
            WINKPROJECT - 건Dㅏ
          </div>
          <div class="project-img">
            <img src="/static/img/project_img.png" />
          </div>
          <div class="project-url">
            <a>https://github.com/sowish23/wink_gunda</a>
          </div>
          <div class="project-description">
            윙크 프로젝트로 진행한 식단 관리 웹사이트 <br/>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>