<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Document</title>
</head>

<body>
  <div class="title">
    <p>Wish <br /> My Portfolio</p>
  </div>
  <div class="login-box">
    <div class="login-title">
      <p>Login</p>
    </div>
    <div class="login-input">
      <div class="login-input-id">
        <label>ID : </label>
        <input />
      </div>
      <div class="login-input-password">
        <label>PASSWORD : </label>
        <input />
      </div>
    </div>
    <div class="login-btn">
      <button>Login</button>
    </div>
    <div class="login-signup" onclick="location.href='/signup'">
      <p>Join Us</p>
    </div>
  </div>
</body>

</html>