<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/edit.css">
  <title>Wish</title>
</head>

<body>
  {% extends "base.html" %}
  {% block content %}
  <div>
    <div class="projects-box" id="projects-box">
      <div class="projects-box-title">
        <p>PROJECTS</p>
      </div>
      <div class="project">
        <button onclick="add_div()">ADD PROJECT</button>
      </div>
      <div class="projects-list" id="projects-list">
        <div class="project">
          <label>PROJECT TITLE</label>
          <input value='WINKPROJECT - 건Dㅏ'/>
        </div>
        <div class="project-img">
          <img src="/static/img/project_img.png" />
        </div>
        <div class="project">
          <button>UPLOAD IMAGE</button>
        </div>
        <div class="project">
          <label>PROJECT URL</label>
          <input value='https://github.com/sowish23/wink_gunda'/>
        </div>
        <div class="project project-description">
          <label>PROJECT DESCRIPTION</label>
          <textarea>윙크 프로젝트로 진행한 식단 관리 웹사이트</textarea>
        </div>
        <div class="project">
          <button>EDIT</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}


  <script type="text/javascript" src="/static/js/edit.js"></script> 
</body>

</html>