<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/signup.css">
  <title>Document</title>
</head>

<body>
  <div class="title">
    <p>Wish <br /> My Portfolio</p>
  </div>
  <div class="signup-box">
    <div class="signup-title">
      <p>Sign Up</p>
    </div>
    <div class="signup-input">
      <div class="signup-input-name">
        <label>NAME : </label>
        <input />
      </div>
      <div class="signup-input-id">
        <label>ID : </label>
        <input />
      </div>
      <div class="signup-input-password">
        <label>PASSWORD : </label>
        <input />
      </div>
      <div class="signup-input-passwordC">
        <label>PASSWORD CONFIRM : </label>
        <input />
      </div>
      <div class="signup-btn">
        <button>Sign Up</button>
      </div>
    </div>
  </div>
</body>

</html>