<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish My Portfolio</title>
</head>
<body>
  <header>
    <div class="nav-title">
      <span>Wish <br /> My Portfolio</span>
    </div>
    <div class="nav-menu">
      <span>ABOUT ME</span>
      <span>PROJECTS</span>
      <span onclick="location.href='/edit'">EDIT</span>
    </div>
  </header>
  {% block content %}
  {% endblock content %}
</body>
</html>