<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/home.css?ver=1">
    <link rel="stylesheet" href="/static/css/edit.css">
    <title>Wish My Portfolio</title>
</head>
<body>
  <header>
    <div class="nav-title">
      <span>Wish <br /> My Portfolio</span>
    </div>
    <div class="nav-menu">
      {% if user.is_authenticated %}
        <span><a href="{% url 'home' %}">HOME</a></span>
        <span><a href="{% url 'edit' user_id=user.id %}">PROFILE</a></span>
        <span><a href="{% url 'project' %}">PROJECTS</a></span>
        <span style="border: 1px solid lightgrey">{{ user.username }} 님 <a style="color: grey; text-decoration: underline" href="{% url 'logout' %}">LOGOUT</a></span>
      {% else %}
      {% endif %}
    </div>
  </header>
  {% block content %}
  {% endblock content %}
</body>
</html>